<<<<<<< HEAD
<div class="page-header", style="display:inline;">
<h1><%= @project.title %> 大会一覧</h1><br>
<div align = "right"><%= link_to "大会を作成する", new_project_matching_path(@project.id), :class => "btn btn-success glyphicon glyphicon-pencil" %></div>
</div><br><br>

=======
<h1><%= @project.title %> 大会一覧</h1>
<%= link_to '大会を作成する!', new_project_matching_path(@project.id) %> | <%= link_to "掲示板に戻る", user_project_path(current_player.id, @project.id) %>
>>>>>>> 301fa1459cfeca3c9dce38c5c7cc3fdc34ca9055

<table class="table table-striped">
  <thead>
    <tr>
      <th>大会名</th>
      <th>主催者</th>
      <th>参加条件</th>
      <th>参加状態</th>
      <th>開催日時</th>
      <th>備考</th>
    </tr>
  </thead>

  <tbody>
<<<<<<< HEAD
    <% @create_matchings.each do |create_matching| %>
      <tr>
        <td><%= link_to "#{create_matching.name}", project_matching_path(create_matching.project_id, create_matching.id), data: { "no-turbolink" => true } %></td>
        <td><%= create_matching.owner %></td>
        <td><%= create_matching.reguration %></td>
        <% limit_time = create_matching.limit.strftime('%Y年%m月%d日 %H:%M')%>
        <td><%= limit_time %></td>
        <% start_time = create_matching.start.strftime('%Y年%m月%d日 %H:%M')%>
        <td><%= start_time %></td>
        <td><%= create_matching.memo %></td>
      </tr>
    <% end %>
  </tbody>
=======
    <% @matchings.each do |matching| %>
    <tr>
      <td><%= link_to "#{matching.name}", project_matching_path(matching.project_id, matching.id), data: { "no-turbolink" => true } %></td>
      <td><%= matching.owner %></td>
      <td><%= matching.reguration %></td>
      <% if matching.limit > Time.now %>
        <td>受付中!(現在<%= matching.participants.size %>名)</td>
      <% else %>
        <% if matching.tournament.participants.nil? %>
          <td>参加者なし</td>
        <% elsif matching.tournament.result %>
          <td>大会終了</td>
        <% elsif matching.start < Time.now %>
          <td>開催中!(<%= matching.participants.size %>名)</td>
        <% elsif matching.start > Time.now %>
          <td>受付終了(<%= matching.participants.size %>名)</td>
        <% end %>
      <% end %>
    <td><%= matching.start %></td>
    <td><%= matching.memo %></td>
  </tr>
  <% end %>
</tbody>
>>>>>>> 301fa1459cfeca3c9dce38c5c7cc3fdc34ca9055
</table>

<br>

