<h1>大会を新規に作成する</h1>
<%= form_for [@project, @project.matchings.build] do |f| %>
  <% if @matching.errors.any? %>
    <div id="error_explanation">
      <h2>作成できませんでした</h2>

      <ul>
      <% @matching.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "大会名" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "主催者" %><br>
    <%= f.text_field :owner, value: current_player.username %>
  </div>
  <div class="field">
    <%= f.label "参加条件" %><br>
    <%= f.text_field :reguration %>
  </div>
  <div class="field">
    <%= f.label "参加締切" %><br>
    <%= f.datetime_select :limit %>
  </div>
  <div class="field">
    <%= f.label "開催日時" %><br>
    <%= f.datetime_select :start %>
  </div>
  <div class="field">
    <%= f.label "備考" %><br>
    <%= f.text_area :memo %>
  </div>
  <div class="actions">
    <%= f.submit "大会を作成する!" %>
  </div>
<% end %>


<%= link_to '戻る', project_matchings_path(@project.id) %>
