<p id="notice"><%= notice %></p>

<p>
  <strong>大会名</strong>
  <%= @matching.name %>
</p>

<p>
  <strong>主催者</strong>
  <%= @matching.owner %>
</p>

<p>
  <strong>作品名</strong>
  <%= @matching.title %>
</p>

<p>
  <strong>参加条件</strong>
  <%= @matching.reguration %>
</p>

<p>
  <strong>参加締切</strong>
  <%= @matching.limit %>
</p>

<p>
  <strong>開催日時</strong>
  <%= @matching.start %>
</p>

<p>
  <strong>備考</strong>
  <%= @matching.memo %>
</p>

<p>
  <strong>参加者</strong> <%= @matching.participants.size %>名
  <% @matching.participants.each do |participant| %>
    <br>
    <%= participant.name %>
  <% end %>
</p>

<% if @matching.limit > Time.now %>
  <%= link_to '参加する!', new_matching_participant_path(@matching) %> |
<% end %>
<%= link_to '編集', edit_project_matching_path(@matching.project_id, @matching.id) %> |
<%= link_to '戻る', project_matchings_path(@matching.project_id) %>
