<p id="notice"><%= notice %></p>

<body ng-controller="guestCtl">
  <div class="container" style="margin-top:100px; margin-left:27%; margin-right:auto;">
    <div class="row">
      <div class="col-md-5">
        <div class="list-group" align="center">
          <p class="list-group-item active" >大会詳細</p>

          <table class="list-group-item">
            <td width="320px" align="right"><strong>大会名</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td width="320px"><%= @matching.name %></td>
          </table>

          <table class="list-group-item" >
            <td width="320px" align="right"><strong>主催者</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <td width="320px"><%= @matching.owner %>
          </table>

          <table class="list-group-item" >
            <td width="320px" align="right"><strong>作品名</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <td width="320px"><%= @matching.title %>
          </table>

          <table class="list-group-item" >
            <td width="320px" align="right"><strong>参加条件</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <td width="320px"><%= @matching.reguration %>
          </table>

          <table class="list-group-item">
            <td width="320px" align="right"><strong>参加締切</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <% limit_time =  @matching.limit.strftime('%Y年%m月%d日 %H:%M')%>
            <td width="320px"><%= limit_time %>
          </table>

          <table class="list-group-item" >
            <td width="320px" align="right"><strong>開催日時</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <% start_time = @matching.start.strftime('%Y年%m月%d日 %H:%M')%>
            <td width="320px"><%= start_time %>
          </table>

          <table class="list-group-item" >
            <td width="320px" align="right"><strong>備考</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <td width="320px"><%= @matching.memo %>
          </table>
        </div>
        <% if @matching.limit > Time.now %>
          <%= link_to '参加する', new_matching_participant_path(@matching), :class => "btn btn-success glyphicon glyphicon-plus", :style => "width:458px;" %>
        <% end %>
      </div>
    </div>
  </div>

  <center>
    <br>
    <%= link_to '編集', edit_project_matching_path(@matching.project_id, @matching.id), :class => "btn btn-success glyphicon glyphicon-edit" %>
    <%= link_to '戻る', project_matchings_path(@matching.project_id), :class => "btn btn-default" %>
  </center>

  <div class="dropdown" style="margin-bottom:500px;">
    <a href="#" class="dropdown-toggle glyphicon glyphicon-user" data-toggle="dropdown" role="button" aria-expanded="false">
      <strong>参加者一覧</strong><span class="caret"></span>&nbsp;<span class="badge"><%= @matching.participants.size %>名</span>
    </a>
    <ul class="dropdown-menu" role="menu">
      <% @matching.participants.each do |participant| %>
        <li><%= participant.name %></li>
        <li class="divider"></li>
      <% end %>
    </ul>
  </div>
</body>