<%= form_for([@matching, @participant]) do |f| %>
  <% if @participant.errors.any? %>
    <div id="error_explanation">
      <h2>参加できませんでした</h2>

      <ul>
      <% @participant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "名前" %><br>
    <%= f.text_field :name, value: current_player.username %>
  </div>
  <div class="actions">
    <div style="margin-top:5px;">
      <%= button_tag( class: "btn btn-success") do %>
        <%= content_tag :span, "参加する", class: "glyphicon glyphicon-plus" %>
      <% end %>
    </div>
  </div>
<% end %>
