<p id="notice"><%= notice %></p>

<p>
  <strong>名前 </strong>
  <%= @participant.name %>
</p>

<p>
  <strong>参加した大会名 </strong>
  <%= @create_matching.name %>
</p>

<%= link_to '大会の詳細を見る', matching_path(@create_matching) %>|
<%= link_to '大会一覧へ', project_matching_path(@create_matching.project_id, @create_matching.id) %>
