<p id="notice"><%= notice %></p>

<p>
  <strong>名前</strong>
  <%= @participant.name %>
</p>

<p>
  <strong>大会名</strong>
  <%= @matching.name %>
</p>

<%= link_to '参加した詳細に戻る', matching_path(@matching) %>|
<%= link_to '大会一覧に戻る', project_matchings_path(@matching.project_id, @matching.id) %>
