<% if @tournament.result %>
<p>
  <%= @tournament.result %>さんがこの大会を制しました!
  <%= render "tournament_graph" %>
</p>
<% elsif @tournament.participants.nil? %>
この大会には参加者がいませんでした・・・
<% else %>
<%= form_tag project_matching_card_path, method: :PUT do %>
<h4><%= @card.player_a %>さんと<%= @card.player_b %>さんの対戦が行われています</h4>
<center>
<br>
<p>
  <font size="5">
  <%= radio_button "page", "result", @card.player_a %>
  <%= @card.player_a %>&nbsp;&nbsp;&nbsp;
  <font color="red">VS</font>
  &nbsp;&nbsp;&nbsp;<%= @card.player_b %>
  <%= radio_button "page", "result", @card.player_b %>
</font>
</p>

<div style="margin-top:5px;">
  <%= button_tag( class: "btn btn-primary") do %>
    <%= content_tag :span, "勝者を報告する", :disabled => true, :class => 'reporter', class: "glyphicon glyphicon-ok" %>
  <% end %>
</div>

</center>
<% end %>
<br><br><br>
<%= render "tournament_graph" %>
<br>
<% end %>
<script>
$("[id^=page_result_]").on("click",function(){
  $('.reporter').attr('disabled',false);
});
</script>

<%= render :template => "chat/index" %>

<%= link_to "#{@project.title}の大会一覧に戻る", project_matchings_path(@project.id) %>
<br><br><br>