<% if @tournament.result %>
<p>
  <%= @tournament.result %>さんがこの大会を制しました!
  <%= render "tournament_graph" %>
</p>
<% elsif @tournament.participants.nil? %>
この大会には参加者がいませんでした・・・
<% else %>
<%= form_tag project_matching_card_path, method: :PUT do %>
<strong><%= @card.player_a %>と<%= @card.player_b %>の対戦が行われています</strong>
<p>
  <%= radio_button "page", "result", @card.player_a %>
  <%= @card.player_a %>
  VS
  <%= @card.player_b %>
  <%= radio_button "page", "result", @card.player_b %>
</p>

<%= submit_tag "報告", :disabled => true, :class => 'reporter' %>
<% end %>
<%= render "tournament_graph" %>
<% end %>
<script>
$("[id^=page_result_]").on("click",function(){
  $('.reporter').attr('disabled',false);
});
</script>

<%= render :template => "chat/index" %>

<%= link_to "#{@project.title}の大会一覧に戻る", project_matchings_path(@project.id) %>