<% if @tournament.result %>
<p>
  <%= @tournament.result %>さんがこの大会を制しました!
  <%= render "tournament_graph" %>
</p>
<% elsif @tournament.participants.nil? %>
この大会には参加者がいませんでした・・・
<% else %>
<%= form_tag project_matching_card_path, method: :PUT do %>
<p>
  <%= radio_button "page", "result", @card.player_a %>
  <%= @card.player_a %>
  VS
  <%= @card.player_b %>
  <%= radio_button "page", "result", @card.player_b %>
</p>
<%= submit_tag "報告" %>
<% end %>
<%= render "tournament_graph" %>
<% end %>


<%= render :template => "chat/index" %>

<%= link_to "#{@project.title}の大会一覧に戻る", project_matchings_path(@project.id) %>