<p>
  <%= @tournament.cards %>
</p>
<%= form_tag project_matching_card_path, method: :PUT do %>
<% if @tournament.result %>
<p>
  <%= @tournament.result %>さんがこの大会を制しました!
</p>
<% elsif @card.player_a %>
<p>
  <%= radio_button "page", "result", @card.player_a %>
  <%= @card.player_a %>
  VS
  <%= @card.player_b %>
  <%= radio_button "page", "result", @card.player_b %>
</p>
<%= submit_tag "報告" %>
<% else %>
この大会には参加者がいない、もしくは組み合わせの抽選中です。<br>
もう一度更新してください。
<% end %>
<% end %>

<%= link_to '大会一覧へ', project_matchings_path(@project.id) %>
