<%- model_class = Project -%>
<div class="page-header", style="display:inline;">
  <h1><%= @project.title %></h1>
  <div class="button"><%= button_to "お気に入り登録",{:controller => "favorites", :action => "create", :user_id => params[:user_id], :project_id => params[:id], :title => @project.title}, :class => "btn btn-default" %></div>
  <div style="float:right;"><%= link_to "大会", project_matchings_path(@project.id), :class => "btn btn-default" %></div>
</div><br><br>
 

<% @project.tasks.each.with_index do |task, i| %>
	<%= i+1 %>. &nbsp; <%= task.contributor %>
	<%= simple_format(task.title) %><br><br>
<% end %>	

<div class="form-horizontal" role="form"> 
<%= form_for [@project, @project.tasks.build] do |f| %>
<div>
<%= f.text_area :title, :size => "40x5" %>
</div>
<%= f.hidden_field :user_id, value: params[:user_id] %>
<%= f.hidden_field :contributor, value: current_player.username %>
<%= f.submit '送信' %>
<% end %>
</div>
<%= link_to t('.back', :default => t("戻る")),
              projects_path, :class => 'btn btn-default'  %>