
<div>
<ul class="nav nav-list well" style="overflow-y: auto;height: 400px" id="chatbox">

<!-- jsに食わせたい情報などなど -->
<div id="username" style="display:none;"><%= current_player.username %></div>
<div id="group_id" style="display:none;"><%= request.url %></div>
<% logs = Chatlog.where(url: request.url) %>
<!-- チャットのタイムラインとかテキストボックスとか -->
<div id="timeline" style="margin:20px;">
  <% logs.each do |log| %>
    <%= log.username %> 「<%= log.message %>」<br>
  <% end %>
  <div id="chat" data-uri="<%= request.host %>:3000/websocket"></div>
</div>
</ul>

<div>
  <form class="form-inline" name="chatform">
    <input type="text" class="form-control" id="msgbody" name="chattext" size="40" />
    <input type="button" class="btn btn-primary" id="send" value="送信"/>
  </form>
</div>
</div>
</body>