<!DOCTYPE html>
<html>
<head>
  <title>バトリング</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="page-wrap">
<%= yield %>
</div>

<nav class="main-nav" id="main-nav">
<div align="center">
  <header>
    <nav>
      <% if player_signed_in? %> 
        <strong><%= current_player.username %></strong>として<br>ログインしています。<br>
        <%= link_to 'プロフィール変更', edit_player_registration_path %> |
        <%= link_to "ログアウト", destroy_player_session_path, method: :delete %>
      <% else %>
        <%= link_to "サインイン", new_player_registration_path %> |
        <%= link_to "ログイン", new_player_session_path %>
      <% end %>
    </nav>
  </header>
  <% if player_signed_in? %> 
    <ul class="nav nav-tabs nav-stacked"><h2><%= link_to "Home", user_path(current_player.username) %><br></h2></ul>
    <% current_player.favorites.each do |favorite| %>
    <ul class="nav nav-tabs nav-stacked">
      <%= link_to favorite.title, user_project_path(current_player.id, favorite.project) %><br></ul>
    <% end %>
  <% end %>
</div>
</nav>


</body>
</html>
