<!DOCTYPE html>
<html>
<head>
  <title>Myapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="page-wrap">
<%= yield %>
</div>

<nav class="main-nav" id="main-nav">
<div align="center">
  <header>
    <nav>
      <% if player_signed_in? %> 
        Logged in as <strong><%= current_player.username %></strong>.<br>
        <%= link_to 'プロフィール変更', edit_player_registration_path %> |
        <%= link_to "ログアウト", destroy_player_session_path, method: :delete %>
      <% else %>
        <%= link_to "サインイン", new_player_registration_path %> |
        <%= link_to "ログイン", new_player_session_path %>
      <% end %>
    </nav>
  </header>
  <h2><%= link_to "Home", projects_path %></h2><br>
  <% Project.all.each do |project| %>
    <ul class="nav nav-tabs nav-stacked">
    <%= link_to project.title,project_path(project.id) %><br>
  </ul>
  <% end %>
</div>
</nav>

</body>
</html>
