<!DOCTYPE html>
<html>
<head>
  <title>Myapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="page-wrap">
<%= yield %>
</div>

<nav class="main-nav" id="main-nav">
<center>
<h2><%= link_to "Home", projects_path %><br></h2>
<% Project.all.each do |project| %>
<%= link_to project.title,project_path(project.id) %><br>
<% end %>
</center>
</nav>

</body>
</html>
